<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>Xin chào</span></h1>
                                <h2>Chào mừng đến với cửa hàng trực tuyến của chúng tôi!</h2>
                                <p>Chào mừng bạn đến với trang thương mại điện tử hiện đại và tiện lợi.</p>
                                <p>Chúng tôi cung cấp đầy đủ các tính năng như xem sản phẩm, giỏ hàng, thanh toán và liên hệ hỗ trợ.</p>
                                <p>Website được thiết kế tối ưu trải nghiệm người dùng và dễ dàng sử dụng trên mọi thiết bị.</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/user/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Xin chào</span></h1>
                                <h2>Chào mừng đến với cửa hàng trực tuyến của chúng tôi!</h2>
                                <p>Chào mừng bạn đến với trang thương mại điện tử hiện đại và tiện lợi.</p>
                                <p>Chúng tôi cung cấp đầy đủ các tính năng như xem sản phẩm, giỏ hàng, thanh toán và liên hệ hỗ trợ.</p>
                                <p>Website được thiết kế tối ưu trải nghiệm người dùng và dễ dàng sử dụng trên mọi thiết bị.</p>
                                
                            </div>
                            <div class="col-sm-6">
                                <img src="~/user/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Xin chào</span></h1>
                                <h2>Chào mừng đến với cửa hàng trực tuyến của chúng tôi!</h2>
                                <p>Chào mừng bạn đến với trang thương mại điện tử hiện đại và tiện lợi.</p>
                                <p>Chúng tôi cung cấp đầy đủ các tính năng như xem sản phẩm, giỏ hàng, thanh toán và liên hệ hỗ trợ.</p>
                                <p>Website được thiết kế tối ưu trải nghiệm người dùng và dễ dàng sử dụng trên mọi thiết bị.</p>
                                
                            </div>
                            <div class="col-sm-6">
                                <img src="~/user/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
