<div class="left-sidebar">
    <h2>Danh mục</h2>
    <div class="panel-group category-products" id="accordian">
        @await Component.InvokeAsync("Categories")
    </div>
    <h2>Thương hiệu</h2>
    <div class="panel-group category-products" id="accordian">
        @await Component.InvokeAsync("Brands")
    </div>
</div>
